main {
  min-height: 100vh;
  padding: 4rem 0;
  margin-top: -25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-top: 45px;
  }

  p {
    margin: 3rem 0;
  }
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  svg {
    font-size: inherit;
    margin: 3px;
    color: #9750dd;
  }

  a {
    margin-left: 2.5px;
  }
}

select {
  outline: none;
  padding: 3px 3px 10px;
  border: none;
  background: transparent;
  vertical-align: -webkit-baseline-middle;
}

svg {
  font-size: 17px;
  transition: all .2s;
}

.nextui-navbar-container {
  position: fixed;
  margin-top: 75px;
}

.nextui-navbar-collapse {
  position: fixed;
}

.nextui-navbar {
  .line {
    background: #000;
  }
}

.container {
  padding: 0 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

label {
  font-size: 0.900rem !important;
}

#contain {
  margin-top: 130px;

  svg {
    margin-top: 20px;
    color: #9750dd;
    font-size: 25px;
  }
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 15px;
  margin-top: -50px;
  box-shadow: 1px 1px 10px #c6a0ec;
  border-radius: 10px;

  div {
    flex-direction: column;
  }

  textarea {
    font-size: 17px;
    max-width: 343px;
    max-height: 238px;
  }

  #chars-remaining {
    display: flex;
    padding: 10px 0 0;
  }
}

.nextui-button {
  padding-left: 1.35rem;
  padding-right: 1.35rem;
}

@media (max-width: 750px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-top: 0px;
  }

  #translate-btn {
    margin-top: 12px;
  }

  #select-container {
    border-bottom: 1px solid #ececec;
    padding: 5px 0px;
  }

  .container {
    padding: 0;
  }

  .nextui-input-main-container {
    width: 100%;

    textarea {
      max-width: -webkit-fill-available;
    }
  }

  #invert-options-btn-container {
    display: flex;
    align-items: center;
  }
}